@model PokemonForum.Models.FanArtViewModel
@{
    ViewData["Title"] = "FanArts";
}
<div class ="blocker"></div>
<div class="fanArtDisplay">
    @foreach (var imag in Model.Imagelist) 
    {    
        <img class="fanArt" src= imag.Path alt=imag.Name>
    }
</div>