@model PokemonForum.Models.FanArtViewModel
@{
    ViewData["Title"] = "FanArts";
}
<div class="fanArtDisplay">
    @foreach (var item in Model.Imagelist) 
    {    
        <img class="fanArt" src= "~"+item.Path alt=item.Name>
    }
</div>