@model PokemonForum.Models.FanArtViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="fanArtDisplay">
    @foreach (var item in Model.Imagelist) {
        <img class="fanArt" src= item.Path>
}
</div>