@model PokemonForum.Models.ForumThreadViewModel
@{
    ViewData["Title"] = " Forum";
}

<form action="Post" method="POST" >
<input type="text" asp-for="text">
<input type="hidden" asp-for="threadID">
<button   type="submit" asp-area="" asp-controller="Home" asp-action="ForumThread" >Senden</button>
</form>
<div class="">    
    @foreach (var item in Model.articlesList)
    {
        <div>            
        <div class="article">
            @item.Text
        </div>
        </div>
    }
</div>
