@model PokemonForum.Models.ForumViewModel
@{
    ViewData["Title"] = " Forum";
}
<div class ="blocker"></div>
@foreach (var item in Model.threadList)
{
    <div>item.Title</div>
}

<div> fhjjfdf </div>

