@model PokemonForum.Models.ForumThreadViewModel
@{
    ViewData["Title"] = " Forum";
}
<div class ="blocker"></div>

<input type="text" asp-for="text">
<button  type="submit" asp-area="" asp-controller="Home" asp-action="ForumThread" >Senden</button>