@model PokemonForum.Models.ForumViewModel
@{
    ViewData["Title"] = " Forum";
}
    <form class="Form fanArt" method="POST">
        <input type="text" asp-for="name" > 
        <button type="submit">Senden</button>
    </form>
    <div class="threds">
@foreach (var item in Model.threadList)
{
   <a asp-area="" asp-controller="Home" asp-action="ForumThread" asp-route-threadID="@item.ThreadID" >@item.Title</a>
}
    </div>

<div> fhjjfdf </div>

