@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div >
        <h2>News</h2>
        <ul>
            <li><a href="">Pokemon Go Evoli und Go Pickatuch zu gewinnen!!!!!!!!!!</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div >
        <h2>Overview</h2>
        <ul>
            <li><a href=""></a>Glumanda Gegen Bisasam. Wer ist Belibter?</li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    
</div>
