/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.banner {
    max-height: 15vh;
    width: 100%;
}

.navbar-inverse{
    background-color: #FF8900
}

.navbar-inverse .navbar-brand {
    font-size: 22px;
    color: #D64200;
}
.fanArtDisplay{
    display: flex;
    margin-top: 50vh;
    
}

.fanArt {
max-width: 60vw;
max-height: 30vh; 
}

.navbar-inverse .navbar-brand:hover {
    background-color: #EB6200;
}

.navbar-inverse .navbar-nav>li>a {
    color: #D64200;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #EB6200;
}

.navbar-brand {
    color: #D64200;
    font-size: 20px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-inverse .btn-link:hover {
    background-color: #EB6200;
}

a {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 20px;
}

.sidebar{
    margin-top: 30vh;
    text-align: left;
    position: fixed;
    left: 0;
    height: 100%;
    width: 10vh;
}

.sidebar h1{
    font-size: 10px;
    padding: 10px;
}

a {
    color: #D64200;
    padding: 10px;
}

body {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #F79800;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10vh;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
