/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.banner {
    
    width: 100%;
    height: 15vh;

}
.container{
    height: 5vh;
   
}
  
header{
    flex: 25vh;
}

nav{    
    background-color: #FF8900;
    display: flex;
    flex-direction: column;
    height: 25vh;
}
.asimai{
    flex: 50;
    display: flex;
flex-direction: row

}

html{
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F79800;
}
main{
    flex: 70;
    height: 100%;
}
aside{
    flex: 10;         
    display: flex;
    flex-direction: column;
}   

a {
    background-color: #FF8900;
    color: #D64200;
    padding: 10px;
    word-wrap: break-word;
}
aside a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 20px;
}

.sidebar h1{
    font-size: 10px;
    
}
footer{
    height: 7vh;
}

.navbar-inverse{
    background-color: #FF8900
}

.navbar-inverse .navbar-brand {
    font-size: 22px;
    color: #D64200;
}
.fanArtDisplay{
    display: flex;
    flex-wrap: wrap;
}
.fanArt {
    max-width: 25vw;
    max-height: 20vh;
    margin: 1vh;
   
    }
    .Form{
        display: flex;
        flex-direction: column
    }
    .Form button{
        height: 3vh;
    }
   

.navbar-inverse .btn-link { 
    color: #D64200;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.navbar-inverse .navbar-brand:hover {
    background-color: #EB6200;
}

.navbar-inverse .navbar-nav>li>a {
    color: #D64200;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #EB6200;
}

.navbar-brand {
    color: #D64200;
    font-size: 20px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-inverse .btn-link:hover {
    background-color: #EB6200;
}

.navbar-collapse a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 20px;
}

.row{
    margin-top: 15vh;
}


.icon {
    width: 12vh;
    height: 12vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {       
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 967px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
